<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.user}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- Hibernate相关信息 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 配置Hibernata的其他属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.autoReconnect">true</prop>
			</props>
		</property>
		<!-- 配置Hibernate映射文件 -->
		<property name="mappingResources">
			<list>
				<value>bupt/sse/shop/user/vo/User.hbm.xml</value>
				<value>bupt/sse/shop/category/vo/Category.hbm.xml</value>
				<value>bupt/sse/shop/product/vo/Product.hbm.xml</value>
				<value>bupt/sse/shop/categorysecond/vo/CategorySecond.hbm.xml</value>
				<value>bupt/sse/shop/order/vo/Order.hbm.xml</value>
				<value>bupt/sse/shop/order/vo/OrderItem.hbm.xml</value>
				<value>bupt/sse/shop/adminuser/vo/AdminUser.hbm.xml</value>
				<value>bupt/sse/shop/cart/vo/CartItem.hbm.xml</value>
				<value>bupt/sse/shop/store/vo/Store.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 事务管理 -->
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- 切面类 -->
	<bean id="userAspect" class="bupt.sse.shop.aspect.UserAspect" />
	
	<!-- 根据注解进行自动切面代理，不需要aop:config -->
	<aop:aspectj-autoproxy />
	<!-- Action的配置 =========================== -->

	<!-- 首页访问的Action -->
	<bean id="indexAction" class="bupt.sse.shop.index.action.IndexAction"
		scope="prototype">
		<property name="categoryService" ref="categoryService"></property>
		<property name="productService" ref="productService"></property>
	</bean>

	<!-- 配置验证码的Action -->
	<bean id="checkImgAction" class="bupt.sse.shop.user.action.CheckImgAction"
		scope="prototype">

	</bean>

	<!-- 用户模块的Action -->
	<bean id="userAction" class="bupt.sse.shop.user.action.UserAction"
		scope="prototype">
		<!-- 注入Service -->
		<property name="userService" ref="userService" />
		<property name="storeService" ref="storeService"></property>
	</bean>

	<!-- 商品模块的Action -->
	<bean id="productAction" class="bupt.sse.shop.product.action.ProductAction"
		scope="prototype">
		<property name="productService" ref="productService" />
	</bean>

	<!-- 购物车的Action -->
	<bean id="cartAction" class="bupt.sse.shop.cart.action.CartAction"
		scope="prototype">
		<property name="productService" ref="productService" />
	</bean>
	
	<!-- 店铺action -->
	<bean id="storeAction" class="bupt.sse.shop.store.action.StoreAction" scope="prototype">
		<property name="storeService" ref="storeService"/>
	</bean>

	<!--订单的Action -->
	<bean id="orderAction" class="bupt.sse.shop.order.action.OrderAction"
		scope="prototype">
		<property name="orderService" ref="orderService" />
	</bean>
	<!-- 后台用户的action -->
	<bean id="adminUserAction" class="bupt.sse.shop.adminuser.action.AdminUserAction"
		scope="prototype">
		<property name="adminUserService" ref="adminUserService" />
	</bean>
	<!-- 后台用户管理action -->
	<bean id="userAdminAction" class="bupt.sse.shop.user.adminaction.UserAdminAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<!-- 后台一级分类管理的action -->
	<bean id="adminCategoryAction" class="bupt.sse.shop.category.adminaction.AdminCategoryAction"
		scope="prototype">
		<property name="categoryService" ref="categoryService" />
	</bean>
	
	<!-- 后台订单管理的action -->
	<bean id="adminOrderAction" class="bupt.sse.shop.order.adminaction.AdminOrderAction" scope="prototype">
		<property name="orderService" ref="orderService"/>
	</bean>

	<!-- 后台二级分类管理的action -->
	<bean id="adminCategorySecondAction"
		class="bupt.sse.shop.categorysecond.adminaction.AdminCategorySecondAction"
		scope="prototype">
		<property name="categorySecondService" ref="categorySecondService" />
		<property name="categoryService" ref="categoryService" />
	</bean>
	<!-- 后台商品管理的action -->
	<bean id="adminProductAction" class="bupt.sse.shop.product.adminaction.AdminProductAction"
		scope="prototype">
		<property name="productService" ref="productService"></property>
		<property name="categorySecondService" ref="categorySecondService"></property>
	</bean>

	
	<!-- 后台店铺管理的action -->
	<bean id="adminStoreAction" class="bupt.sse.shop.store.adminaction.AdminStoreAction" scope="prototype">
		<property name="storeService" ref="storeService"/>
		<property name="userService" ref="userService"/>
	</bean>
	
	<!-- Service的配置 =========================== -->
	<bean id="userService" class="bupt.sse.shop.user.service.UserService">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean id="categoryService" class="bupt.sse.shop.category.service.CategoryService">
		<property name="categoryDao" ref="categoryDao"></property>
	</bean>
	<bean id="productService" class="bupt.sse.shop.product.service.ProductService">
		<property name="productDao" ref="productDao"></property>
	</bean>
	<bean id="orderService" class="bupt.sse.shop.order.service.OrderService">
		<property name="orderDao" ref="orderDao" />
	</bean>
	<bean id="adminUserService" class="bupt.sse.shop.adminuser.service.AdminUserService">
		<property name="adminUserDao" ref="adminUserDao" />
	</bean>
	<!-- 二级分类的service -->
	<bean id="categorySecondService"
		class="bupt.sse.shop.categorysecond.service.CategorySecondService">
		<property name="categorySecondDao" ref="categorySecondDao"></property>
	</bean>
	<!-- 店铺的service -->
	<bean id="storeService" class="bupt.sse.shop.store.service.StoreService">
		<property name="storeDao" ref="storeDao" />
	</bean>

	<!-- Dao的配置 =========================== -->
	<bean id="userDao" class="bupt.sse.shop.user.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="categoryDao" class="bupt.sse.shop.category.dao.CategoryDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="productDao" class="bupt.sse.shop.product.dao.ProductDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="orderDao" class="bupt.sse.shop.order.dao.OrderDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 后台登录的Dao -->
	<bean id="adminUserDao" class="bupt.sse.shop.adminuser.dao.AdminUserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 二级分类的Dao -->
	<bean id="categorySecondDao" class="bupt.sse.shop.categorysecond.dao.CategorySecondDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 店铺的Dao -->
	<bean id="storeDao" class="bupt.sse.shop.store.dao.StoreDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>
